img{
	position: absolute;
	top: 2px;
	z-index: 2;
	height: 200px;
	object-fit: cover;
}
.row{
	padding-top: 10px;
	background-color: white;
}
.destinasi{
	padding-left: 25px;
}
.tombol{
	padding-left: 25px;
	padding-bottom: 10px;
}
hr{
	border-width: 1px;
	margin-top: 1em;
}
.tl{
	padding: 5px auto;
	color: #1BA0E2;
}
.btn_desk{
	padding-left: 25px;
}
.penjabaran{
	padding-left: 25px;
	margin-top: 10px;
}
.garis{
	border-left: 3px solid black;
	height: 300px;
	margin-bottom: 15px;
	margin-left: 50%;
}