img {
	position: relative;
	z-index: 1;
	top: 0px;
}

.lokasi h1 {
	position: absolute;
	z-index: 2;
	line-height: 200px;
	width: 230px;
}

.lokasi h6 {
	position: absolute;
	z-index: 2;
	font-size: 1.2rem;
	color: black;
	width: 316.65px;
}

.destinasi-fav img {
	height: 200px;
	object-fit: cover;
}

.liburan-fav img {
	height: 300px;
	object-fit: cover;
}

.slide-image img{
	height: 570px;
	object-fit: cover;
}

.price {
	position: absolute;
	z-index: 2;
	height: 35px;
	width: 50%;
	bottom: 29px;
	left: 20px;
}
.rounded-right.bg-info.price > h5{
	line-height: 33px;
}
.lama {
	position: absolute;
	z-index: 2;
	height: 25px;
	width: 25%;
	bottom: 29px;
	right: 20px;
	font-size: 2px;
}

.lama p {
	line-height: 1;
	font-size: 0.7rem;
	color: white;
}